*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
}

.box{
    width: 176px;
    height: 176px;
    border: 2px solid black;
    justify-content: center;

    text-align: center;
}   


.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}